head{
        font-size: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: gold;
}
body{
    font-size: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: gold;
    background-image: linear-gradient(90deg,cyan,blue);
}