head{
    font-size: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:black;
    -webkit-text-stroke: 10px;
    -webkit-text-stroke-color: white;
}
body{
margin:0;
padding:0;
width:100%;
height:100%;
}
body{
    font-size: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height:100vh;
    background-image: linear-gradient(90deg,red,orange,yellow,lime,cyan,blue,purple);
}

