head{
    font-size: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:black;
    -webkit-text-stroke: 10px;
    -webkit-text-stroke-color: white;
}
body{
    font-size: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: gold;
    background-image: linear-gradient(90deg,red,orange,yellow,lime,cyan,blue,purple,indigo,violet,red);
}

