head{
    font-size: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:black;
    -webkit-text-stroke: 10px;
    -webkit-text-stroke-color: white;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 100px;
    min-height: 100vh;

    /* Extra-wide gradient for smooth movement */
    background: linear-gradient(
        90deg,
        red,
        orange,
        yellow,
        lime,
        cyan,
        blue,
        purple,
        red
    );

    background-size: 400% 400%;
    animation: rainbowMove 2s linear infinite;
}

/* Animation */
@keyframes rainbowMove {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 400% 50%;
    }
}
